<b>Python for Data Science and Machine Learning Bootcamp </b>

<i> Usual run-through of tools. How to run cells, make it markup </i>

<b> Part 1 : </b>Python Run through:

Normal operators and comment overview: + - % * ** ()

In [1]:

print('hello')

hello

In [2]:
x = 'hello'

In [3]:
print(x)

hello

In [4]:
x

'hello'

In [5]:
num= 23
name = 'sophie'

In [8]:
print('My age is {} and my name is {}'.format(num,name))

My age is 23 and my name is sophie

In [11]:
print('My name is ', name, ' and my age is ', num)

My name is  sophie  and my age is  23

In [12]:
print('My age is {one} and my name is {two}'.format(one= num,two= name))

My age is 23 and my name is sophie

In [13]:
s= 'eyup'

<b> Slice:</b>
Pick character at index 3
(arrays start at index 0)

In [15]:
s[3]

'p'

Show everthing from index 0

In [19]:
s[0:]

'eyup'

Grab everything up to index 3 but not including it

In [18]:
s[:3]

'eyu'

In [20]:
s[1:3]

'yu'

<b>LIST:</b> sequence of elements

In [31]:
alpha_list= ['a','b','c']

How to <b>add to list</b>

In [33]:
alpha_list.append('d')

In [34]:
print(alpha_list)

['a', 'b', 'c', 'd']

In [35]:
alpha_list.remove('a')

In [36]:
alpha_list

['b', 'c', 'd']

In [38]:
alpha_list.append('a')

In [39]:
alpha_list[1:3]

['c', 'd']

<b>Nesting:</b>

In [40]:
nest=[1,2,[3,4]]

In [41]:
nest

[1, 2, [3, 4]]

In [42]:
nest[2]

[3, 4]

In [43]:
nest[2][1]

4

In [45]:
nest=[1,2,[3,4, ['target']]]

In [47]:
print(nest[2][2][0])

target

<b> Part 2:</b>

 <b>Dictionaries</b> are key value pairs

In [48]:
d= {'key1':'value', 'key2':123}

In [52]:
d['key2']

123

In [57]:
dict= {'soph_stud_no':123, 'matt_stud_no': 321}
dict['matt_stud_no']

321

In [56]:
d= {'k1':[1,2,3]}
d

{'k1': [1, 2, 3]}

In [58]:
d['k1']

[1, 2, 3]

In [63]:
my_list= d['k1'][2]
my_list

3

In [65]:
my_list= d['k1']
my_list[0]

1

you <b>can</b> have a dictionary in a dictionary:

In [66]:
d= {'k1':{'innerkey':[1,2,3]}}

In [68]:
d['k1']['innerkey']

[1, 2, 3]

<b>Boolean</b>

In [69]:
True
False

False

<b>TUPLE:</b>

In [70]:
t=(1,2,3)

In [71]:
t[0]

1

<b>lists</b> allow us to re-arrange location. <b>tuples are immutable</b>, can't change the items inside them compared to lisst

set is a collection of unique elements

In [75]:
s={1,1,2,3,3,4,5,5,5}
s

{1, 2, 3, 4, 5}

only returns the <b>unique elements</b>

In [77]:
s.add(7)
s

{1, 2, 3, 4, 5, 7}

In [79]:
s.add(7)
s

{1, 2, 3, 4, 5, 7}

Stays the same as <b>can't have duplicates</b>

<b>Comaprison operators </b>: same as usual

<b>More than</b>

In [80]:
1>2

False

<b> Less than</b>

In [81]:
1<2

True

<b> More than or equal to</b>

In [82]:
1 >=2

False

<b> Less than or equal to</b>

In [83]:
1<=2

True

<b> Equality </b> (equal to)

In [85]:
1==1

True

In [87]:
1==3

False

<b> Negation</b> (not equal to)

<i>Not equal</i>

In [86]:
1!=2

True

<b>AND  </b> statement

In [88]:
1<2 and 2<3

True

In [89]:
1<2 and 2>3

False

for and, all statments must be true

<b> OR</b> statements

In [92]:
(1<2) or (2>3)

True

for OR, either can be true for the OR to be true

<b>IF, ELIF AND ELSE </b>

In [94]:
if 1<2:
    print("1 is less than 2")

1 is less than 2

In [95]:
if 1==2:
    print('First')
else:
    print('Last')

Last

In [96]:
if 1==2:
    print('First')
elif 3 ==3:
    print('middle')
else:
    print('Last')

middle

<b>Can stack as many elif's </b> as you want

<b> PART 3</b>

In [97]:
seq = [1,2,3,4,5]

<b>For loop:</b> variable can be any name

In [99]:
for i in seq:
    print(i)

1
2
3
4
5

In [102]:
i=1
while i <5:
    print('i is: {}|'. format(i))
    i+= 1

i is: 1|
i is: 2|
i is: 3|
i is: 4|

<i>i += is equavilant to i+1 </i>

In [103]:
for x in seq:
    print(x)

1
2
3
4
5

In [104]:
range(0,5)

range(0, 5)

In [106]:
for x in range(0,5):
    print(x)

0
1
2
3
4

In [107]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

<b>LIST COMPREHENSION</b>

In [110]:
x= [1,2,3,4]

In [111]:
out=[]
for num in x:
    out.append(num**2)

In [112]:
print(out)

[1, 4, 9, 16]

<b>LIST COMPREHENSION: have all the command on one line</b>

In [113]:
[num**2 for num in x]

[1, 4, 9, 16]

In [114]:
out = [num**2 for num in x]

In [115]:
out

[1, 4, 9, 16]

<b>FUNCTIONS:</b> allow us to call the function and not have to re-write

In [121]:
def my_func(param1):
    print(param1)

In [122]:
my_func('hello')

hello

In [202]:
def my_func(name='Default Name'):
    print('Hello ' +name)

In [129]:
my_func()

Hello Default Name

In [130]:
my_func('Sophie')

Hello Sophie

In [131]:
name= 'Connor'
my_func(name)

Hello Connor

In [132]:
def square(num):
    return num**2

In [133]:
output= square(2)

In [134]:
output

4

def square(num):
    """
    MULTI
    line
    comment
    """
    return num**2

type <b>name </b> and then <b>shift + tab</b>, jupyter helps give us info on functions

<b> Section 4 of python fundamentals. math and functions</b>

In [137]:
def times2(var):
    return var*2

In [138]:
# map()

In [139]:
seq=[1,2,3,4,5]

In [141]:
map(times2, seq)

 <b> Python map: </b> Processing Iterables Without a Loop

In [142]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

<b> lambda Expression: </b> we can re-write the function "times2" better and more efficient. annoymous function

In [143]:
def times2(var):return var*2

In [144]:
times2(5)

10

But we can do this with lambda

In [147]:
lambda var:var*2

In [148]:
t= lambda var:var*2

In [149]:
t(6)

12

The next example uses lambda expression and map to condense the code, removing the need for the function. it multiplies all variables in the list "seq" by 3 and then lists them out. used alot by pandas

In [152]:
list(map(lambda num: num*3,seq))

[3, 6, 9, 12, 15]

<b> FILTER </b>

In [153]:
list(filter(lambda num: num%2 ==0, seq))

[2, 4]

gives a true/false bool value and then will only return the values which are true. The code in the cell above goes through the 'seq' list and finds which ones are even.

In [159]:
s= 'Hello my name is Sophie'

var.lower() will <b> LOWER CASE </b> the variable

In [163]:
s.lower()

'hello my name is sophie'

<var>.upper() will <b> UPPER CASE </b> the variable

In [164]:
s.upper()

'HELLO MY NAME IS SOPHIE'

<b> .split() </b> seperates a variable into a list based upon the whitespace

In [172]:
slogan = 'Lets go! Win Sheffield'

In [173]:
slogan.split()

['Lets', 'go!', 'Win', 'Sheffield']

we can use split to split on a variable. e.g. . <b>split('!')</b> will  split upon exclamation marrks

In [174]:
slogan.split('!')

['Lets go', ' Win Sheffield']

In [175]:
slogan.split('!')[1]

' Win Sheffield'

<b>For example: </b> for tweets it would allow you to sperate with the hash to seperate out hashtags and you could access each via it's index

In [179]:
d={'k1': 1, 'k2':2}
d

{'k1': 1, 'k2': 2}

<b> var.keys() </b> returns the keys of a dictionary

In [181]:
d.keys()

dict_keys(['k1', 'k2'])

<b> var.items() </b> returns the dictionary items

In [182]:
d.items()

dict_items([('k1', 1), ('k2', 2)])

<b> var.values() </b> returns the values of a dictionary

In [183]:
d.values()

dict_values([1, 2])

<b> useful functions for list are: </b>
.pop()   -> this pop and return the last item in the list

In [185]:
lst= [1,2,3,4,5]

In [186]:
item= lst.pop()

In [187]:
lst

[1, 2, 3, 4]

In [188]:
item

5

In [189]:
first= lst.pop(0)

In [190]:
first

1

In [191]:
lst.append('new')
lst

[2, 3, 4, 'new']

<b> Checking if something is inside a list</b>

In [192]:
'x' in [1,2,3]

False

In [193]:
'x' in ['x','y','z']

True

<b> TUPLE unpacking </b>

In [194]:
x = [(1,2), (3,4), (5,6)]

In [196]:
x[0][1]

2

In [198]:
for item in x:
    print(item)

(1, 2)
(3, 4)
(5, 6)

<b>tuple unpacking </b> allows us to do the following:

In [199]:
for (a,b) in x:
    print(a)

1
3
5

In [200]:
for (a,b) in x:
    print(b)

2
4
6

In [201]:
for a,b in x:
    print(a)
    print(b)

1
2
3
4
5
6